<nav class="navbar bg-background text-text shadow-md">
  <!-- Navbar Inicio -->
  <div class="navbar-start">
    <!-- Dropdown Móvil -->
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden text-primary">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-background rounded-box z-10 mt-3 w-52 p-2 shadow-lg"
      >
        <li><a class="hover:text-secondary">Home</a></li>
        <li><a class="hover:text-secondary">Sobre mí</a></li>
        <li><a class="hover:text-secondary">Proyectos</a></li>
        <li><a class="hover:text-secondary">Blog</a></li>
        <li><a class="hover:text-secondary">Contacto</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl text-primary font-bold">Profe Angel</a>
  </div>

  <!-- Navbar Centro (versión desktop) -->
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 space-x-4">
      <li><a class="hover:text-secondary">Home</a></li>
      <li><a class="hover:text-secondary">Sobre mí</a></li>
      <li><a class="hover:text-secondary">Proyectos</a></li>
      <li><a class="hover:text-secondary">Blog</a></li>
      <li><a class="hover:text-secondary">Contacto</a></li>
    </ul>
  </div>

  <!-- Redes Sociales en Navbar -->
  <!-- Redes Sociales en Navbar -->
<div class="navbar-end flex space-x-4">
  <a href="https://github.com/tuusuario" target="_blank" class="text-2xl hover:text-secondary">
    <ion-icon name="logo-github"></ion-icon>
  </a>
  <a href="https://www.linkedin.com/in/tuusuario" target="_blank" class="text-2xl hover:text-secondary">
    <ion-icon name="logo-linkedin"></ion-icon>
  </a>
  <a href="https://facebook.com/tuusuario" target="_blank" class="text-2xl hover:text-secondary">
    <ion-icon name="logo-facebook"></ion-icon>
  </a>
  <a href="https://instagram.com/tuusuario" target="_blank" class="text-2xl hover:text-secondary">
    <ion-icon name="logo-instagram"></ion-icon>
  </a>
</div>

</nav>

